@page
@model CSharpSnackisApp.Pages.RegisterViewModel
@{
}

<body>
    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <p class="text-danger">@Model.ErrorMessage</p>
    }
    else
    {
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-xl-9 mx-auto">
                    <div class="card card-signin flex-row my-5">
                        <div class="card-img-left d-none d-md-flex">
                            <!-- Background image for card set in CSS! -->
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-center">Registrera dig</h5>
                            <a asp-page="/Privacy" target="_blank"><h6 class="card-title text-center">Integritetspolicy</h6></a>
                            <form method="post" autocomplete="off" enctype="multipart/form-data">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label class="control-label">Användarnamn</label>
                                    <input asp-for="User.Username" class="form-control" />
                                    <span asp-validation-for="User.Username" class="text-danger"></span>
                                    @if (!string.IsNullOrEmpty(Model.MessageUserName))
                                    {
                                        <p class="text-danger">@Model.MessageUserName</p>
                                    }
                                </div>
                                <div class="form-group">
                                    <label asp-for="User.Email" class="control-label"></label>
                                    <input asp-for="User.Email" class="form-control" />
                                    <span asp-validation-for="User.Email" class="text-danger"></span>
                                    @if (!string.IsNullOrEmpty(Model.MessageMail))
                                    {
                                        <p class="text-danger">@Model.MessageMail</p>
                                    }
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Lösenord</label>
                                    <input asp-for="User.Password" type="password" class="form-control" pattern=".{8,}" required title="Minst 8 tecken" />
                                    <span asp-validation-for="User.Password" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Land</label>
                                    <input asp-for="User.Country" class="form-control" />
                                    <span asp-validation-for="User.Country" class="text-danger"></span>
                                </div>
                                <div>
                                    @if (!string.IsNullOrEmpty(Model.Message))
                                    {
                                        @Model.Message
                                    }
                                    <div class="form-group">
                                        <label class="control-label">Profilbild</label>
                                        <input asp-for="UploadFile" class="form-control" type="file" />
                                        <span asp-validation-for="UploadFile" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <input style="width : 200px" type="submit" value="Registrera" class="btn btn-primary" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</body>